html {
    background-color: #111;
    color: #fff;
    font-family: monospace;

    overflow-x: hidden;
}

.header {
    background-color: #222;
    padding: 10px;

    display: flex;
    justify-content: left;
    align-items: center;

    box-shadow: 0 0 10px #000;
    border-radius: 5px;
}

.header > * {
    margin: 0 3rem;
}

.header h1 {
    margin: 0;
}

.paste {
    background-color: #111;
    color: #fff;
    padding: 10px;
    margin: 0;
    border-radius: 5px;
    border: none;
    resize: none;

    width: 100%;
    height: 80rem;
    
    white-space: pre-wrap;
}

pre {
    margin: 10px 0;
    padding: 10px;
    background-color: #111;
    border-radius: 5px;
    border: none;   

    white-space: pre-wrap;
    word-wrap: break-word;
}

pre code {
    white-space: pre-wrap;
    word-wrap: break-word;
}

textarea:focus {
    outline: none;
}



.settings {
    position: sticky;

    bottom: 0;
    right: 0;

    background-color: #222;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

button {
    background-color: #222;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;

    transition: background-color 0.2s;
    font-family: monospace;
}

button:hover {
    background-color: #333;
}

button:active {
    background-color: #444;
}

button:disabled
{
    background-color: #111;
    cursor: not-allowed;
}

input {
    background-color: #111;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    font-family: monospace;
}

input:focus {
    outline: none;
}

select {
    background-color: #111;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    font-family: monospace;
}

.copy {
    position: sticky;
    bottom: 0;
    left: 0;
}